[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = ASSSSON
	email = 138564413+ASSSSON@users.noreply.github.com
